Diagnostics:
  # MissingIncludes: Strict
  UnusedIncludes: None
CompileFlags:
  Add:
    - -std=c++23
    - -stdlib=libc++     # Use libc++ as the standard library
    - -I/usr/include/c++/v1   # Include path for libc++ headers
    # - -fmodules      # Enable C++20 module support
    # - -fmodules-cache-path=./module-cache  # Cache the modules in a directory (optional)
    # - -Iinclude         # Specify include directories